---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Reflections">
	<h2>Reflections from the Clinic & Home</h2>
	<article>
		<h3>Finding Clarity in the Chaos</h3>
		<p><small>Posted on March 6, 2026</small></p>
		<p>Life as an independent woman and a mother isn't always 20/20. Sometimes, you have to adjust the lens to see the beauty in the struggle...</p>
	</article>
</MainLayout>
